@font-face {
    font-family: "IBM";
    src: url(Web437_IBM_BIOS.woff2);
}

#mainMenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#mainMenu button {
    background-color: rgb(255, 255, 255, 0.2);
    color: white;
    width: 10rem;
    height: 2rem;
}

section{
    display: none;
}

body {
    background-image: url();
    background-color: black;
    height: 97vh;
    width: 99vw;
    display: flex;
    flex-direction: column;
    position: relative;
}

* {
    font-family: "IBM";
    font-weight: 001;
}

p, h2, h3, h4{
    color: white;
}

#dialogBox{
    border: 5px solid white;
    position: absolute;
    width: 70%;
    bottom: 2%;
    left: 15%;
    min-height: 12em;
    max-height: 12em;
    overflow-wrap: break-word;
}

#dialogBox p{
    margin: 1em;
    width: 97.5%;
    line-height: 2em;
    height: fit-content;
    max-height: 100%;
    overflow-y: hidden;
}

@media screen and (max-width: 450px){
    section{
        display: none;
    }
    body{
        content: url("/images/rotate.gif");
        width: 100%;
        height: fit-content;
        padding-top: 50%;
    }
}